html, body {
	height: 100%;
	width: 100%;
	background-color: #F5F5F5;
	font-family: helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
}

#topCntnr,
#bottomCntnr {
	height: 50%;
	width: 100%;
	margin-top: 1%;
	margin-bottom: 1%;
}

#filterCntnr {
	width: 100%;
	padding-left: 15%;
}

#graphAndToolsCntnr {
	height: 100%;
	margin-top: 0.5%;
}

#graphCntnr {
	height: 100%;
	padding-left: 5%;
}

.btn {
	height: 60px;
	width: 60px;
	margin-right: 3%;
	padding: 0%;
	font-size: 400%;
	text-align: center;
	color: #555555;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #E3E3E3;;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.axis text {
    font-size: 11px;
    color: #E3E3E3;
}