html, body {
	position: relative; /*Allows us to position its children absolutely.*/
	height: 100%;
	width: 100%;
	overflow: hidden; /*Prevents the page from scrolling.*/
	background-color: #F5F5F5;
	font-family: helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
}

#leftMargin,
#centerCol,
#rightMargin {
	height: 100%;
	display: inline-block;
}


#leftMargin {

	/*
	position: absolute;
	top: 0;
	left: 0;
	width: 8%;
	*/
}

#centerCol {

}


#topCntnr {
	/*
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	*/
	height: 50%;
}


#bottomCntnr {
	/*
	position: absolute;
	top: 50%;
	height: 50%;
	width: 100%;
	margin-top: 8%;
	padding-bottom: 1%;
	*/
	height: 50%;
	padding-top: 8%;
	padding-bottom: 1%;
}

#filterCntnr {
	height: 15%;
	width: 100%;
	margin-top: 1%;
	margin-bottom: 1%;
}


#btnCntnr {
	height: 100%;
}

#graphAndToolsCntnr {
	position: relative;
	height: 83%;
	width: 100%;
	padding-bottom: 0.5%;
}


#graphCntnr {
	display: inline;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 80%;
}

#toolsCntnr {
	position: absolute;
	top: 0;
	left: 80%;
	height: 100%;
}


#timeScaleDropDown {
	color: #555555;
}


#msgLogCntnr, 
#msgDisplCntnr {
	display: inline-block;
	width: 48%;
	height: 65%;
	overflow: auto;
}


#msgLogCntnr {
	margin-right: 2%;
}


#msgDisplCntnr {
	margin-left: 2%;
}

.scoreBtn {
	height: 100%;
	/* We want the button's width to be equal to its height, so we'll calculate and set that in javascript.
	 * Same for the font size.
	 */
	margin-right: 3%;
	padding: 0%;
	text-align: center;
	color: #555555;
	background-image: -moz-linear-gradient(top, #F0E2BD, #F0CF68);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F0E2BD), to(#F0CF68));
    background-image: -webkit-linear-gradient(top, #F0E2BD, #F0CF68);
	background-image: -o-linear-gradient(top, #F0E2BD, #F0CF68);
	background-image: linear-gradient(to bottom, #F0E2BD, #F0CF68);
}

.scoreBtn:hover,
.scoreBtn.active {
	color: #FFFFFF;
	background-color: #F2C53D;
	background-image: none;
}


.caret {
	border-top: 4px solid #555555; /*Sets the carat's color.*/
}


/* Overriding Bootstrap's absolute positioning because it's unnecessary since the menu displays as a block.
 * and thus falls right under the button when opened.
 */
.dropdown-menu {
	position: static;
}


.dropdown-menu > li > a {
	color: #555555;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
	background-image: -moz-linear-gradient(top, #F0E2BD, #F2C53D);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F0E2BD), to(#F2C53D));
	background-image: -webkit-linear-gradient(top, #F0E2BD, #F2C53D);
	background-image: -o-linear-gradient(top, #F0E2BD, #F2C53D);
	background-image: linear-gradient(to bottom, #F0E2BD, #F2C53D);
}

.dropdown-menu > li > a:active, {
	background-color: #F2C53D;
}


.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1px;
}


.axis path,
.axis line {
	fill: none;
	stroke: #E3E3E3;;
	stroke-width: 2px;
	shape-rendering: crispEdges;
}


.axis text {
    font-size: 100%;
    color: #E3E3E3;
}


.table {
	height: 100%;
	font-size: 125%;
}

.table-condensed td {
	padding-left: 4%;
}


.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
	background-image: -moz-linear-gradient(top, #F0E2BD, #F2C53D);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F0E2BD), to(#F2C53D));
	background-image: -webkit-linear-gradient(top, #F0E2BD, #F2C53D);
	background-image: -o-linear-gradient(top, #F0E2BD, #F2C53D);
	background-image: linear-gradient(to bottom, #F0E2BD, #F2C53D);
	color: #FFFFFF;
}


.table tbody tr.error > td {
	background-image: -moz-linear-gradient(top, #FEBAB1, #EE8B7F);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FEBAB1), to(#EE8B7F));
	background-image: -webkit-linear-gradient(top, #FEBAB1, #EE8B7F);
	background-image: -o-linear-gradient(top, #FEBAB1, #EE8B7F);
	background-image: linear-gradient(to bottom, #FEBAB1, #EE8B7F);
}


.table-hover tbody tr.error:hover > td {
	background-image: -moz-linear-gradient(top, #EE8B7F, #BD3E37);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EE8B7F), to(#BD3E37));
	background-image: -webkit-linear-gradient(top, #EE8B7F, #BD3E37);
	background-image: -o-linear-gradient(top, #EE8B7F, #BD3E37);
	background-image: linear-gradient(to bottom, #EE8B7F, #BD3E37);
	color: #FFFFFF;
}